<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.sqx.mall.product.webapi.mapper.CategoryMapper">

    <!-- int insert(Category category); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_category (name, parent_id, depth, keywords, sort,
                                  icon, enable, is_parent, is_display, gmt_create,
                                  gmt_modified)
        values (#{name}, #{parentId}, #{depth}, #{keywords}, #{sort},
                #{icon}, #{enable}, #{isParent}, #{isDisplay}, #{gmtCreate},
                #{gmtModified})
    </insert>

    <!-- int updateIsParentById(@Param("id") Long id, @Param("isParent") Integer isParent); -->
    <update id="updateIsParentById">
        update
            pms_category
        set
            is_parent=#{isParent}
        where
              id = #{id};
    </update>

    <!-- CategorySimpleVO getByName(String name); -->
    <select id="getByName" resultMap="SimpleResultMap">
        select
        <include refid="SimpleQueryFields"/>
        from
            pms_category
        where
            name = #{name};
    </select>

    <!-- CategorySimpleVO getById(Long id); -->
    <select id="getById" resultMap="SimpleResultMap">
        select
        <include refid="SimpleQueryFields"/>
        from
            pms_category
        where
            id=#{id};
    </select>

    <!-- CategoryDetailsVO getDetailsById(Long id); -->
    <select id="getDetailsById" resultMap="DetailsResultMap">
        select
            <include refid="DetailsQueryFields"/>
        from
            pms_category
        where
            id=#{id}
    </select>

    <!-- List<CategorySimpleListItemVO> listByParentId(Long parentId); -->
    <select id="listByParentId" resultMap="SimpleListResultMap">
        select
            <include refid="SimpleListQueryFields"/>
        from
            pms_category
        where
            parent_id=#{id} and enable=1 and is_display=1
        order by
            sort desc, gmt_modified desc
    </select>

    <sql id="SimpleQueryFields">
        <if test="true">
            id, depth, is_parent
        </if>
    </sql>
    <resultMap id="SimpleResultMap" type="cn.org.sqx.mall.pojo.vo.CategorySimpleVO">
        <id column="id" property="id"/>
        <result column="depth" property="depth"/>
        <result column="isParent" property="isParent"/>
    </resultMap>

    <sql id="SimpleListQueryFields">
        <if test="true">
            id, name, sort, icon, is_parent
        </if>
    </sql>
    <resultMap id="SimpleListResultMap" type="cn.org.sqx.mall.pojo.vo.CategorySimpleListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="is_parent" property="isParent"/>
    </resultMap>

    <sql id="DetailsQueryFields">
        <if test="true">
            id, name, parent_id, depth, keywords,
            sort, icon, enable, is_parent, is_display
        </if>
    </sql>
    <resultMap id="DetailsResultMap" type="cn.org.sqx.mall.pojo.vo.CategoryDetailsVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="depth" property="depth" />
        <result column="keywords" property="keywords" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="enable" property="enable" />
        <result column="is_parent" property="isParent" />
        <result column="is_display" property="isDisplay" />
    </resultMap>


</mapper>
